/* style.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1F2421;
  color: #DCEDB9;
}

canvas {
  display: block;
  margin: 20px auto;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
  background-color: #1F2421;
}

a {
  text-decoration: none;
  color: #DCEDB9;
  padding: 10px;
  border: 1px solid #A5BE00;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #A5BE00;
}

#sketch-container {
  margin: 20px auto;
}

.grid-line {
  stroke: #444;
}

.grid-label {
  text-align: center;
  font-size: 12px;
}

.One-Block {
  display: flex;
  flex-direction: column;
  padding: 0vw 10vw 0vw 5vw;
}

.Multiple-Block {
  display: flex;
  flex-direction: row;
}

.Heading{
  display: flex;
  flex-direction: column;
  padding: 4vw 50vw 4vw 5vw;
}

img {
  width: 10vw;
  padding: 1vw 0vw 3vw 0vw;
}